@import url("https://fonts.cdnfonts.com/css/poe-vetica-new");

/* font-family: "POE Vetica New", sans-serif;
font-family: "POE Vetica New Condensed", sans-serif; */

@import url("https://fonts.cdnfonts.com/css/helvetica-255");

/* font-family: "Helvetica", sans-serif;
font-family: "Helvetica Light", sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* .inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100 900;
  font-style: normal;
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  cursor: none;
  background-color: var(--background-color);
}

:root {
  --background-color: #f4f0e9;
  --white: #252323;
  --dropshadow-hover: #d71c1c;
  --black: rgb(24, 23, 23);
  --grey: #a6a6a6;
  --orange: rgb(255, 128, 0);
  --orangeCursor: rgba(255, 128, 0, 0);
  --green: rgb(68, 231, 68);
}

body {
  overflow: hidden;
  opacity: 0;
  transition: none;
}
body.fade-out {
  opacity: 1;
  transition: 1s opacity ease;
}

.cursor,
.circle {
  position: absolute;
  width: 5rem;
  height: 2rem;
  background: var(--background-color);
  border: 2px solid var(--orange);
  border-radius: 20rem;
  pointer-events: none;
  opacity: 0.5;
}

.cursor#main {
  background: var(--orangeCursor);
  color: var(--black);
  font-size: 0.5rem;
  line-height: 110%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 10000;
}

@media (max-width: 992px) {
  *{
    cursor: cell;
  }
  .cursor,
  .circle {
    visibility: hidden;
  }
}

/* #main{
  height: 1.5rem;
  width: 1.5rem;
  background-color: var(--orange);
  border-radius: 1.5rem;

  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 100000;
  
  pointer-events: none;
  opacity: 0;
  transition: opacity 500ms ease;
}

body:hover > #trailer {
  opacity: 1 ;
} */

.sidenav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 99999;
  border-color: wheat;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.03);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidenav li {
  width: 100%;
}
.sidenav a {
  width: 100%;
}

nav {
  grid-area: nav;
  display: flex;
  justify-content: space-between;
  padding: 1rem;

  background-color: var(--background-color);
  filter: drop-shadow(0px 1px 1px rgb(204, 204, 204));
}

nav a {
  height: 100%;
  padding: 0 1rem;
  display: flex;
  align-items: center;
}

img {
  width: 3rem;
}

aside {
  grid-area: sidebar;
  padding: 1rem;
  display: none;
}

main {
  display: flex;
  justify-content: center;
  grid-area: main;
  /* padding: 1rem; */
}

section {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

li {
  color: var(--grey);
}

a {
  text-decoration: none;

  color: inherit;
}

nav ul {
  width: 100%;
  display: flex;
  align-items: center;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.logo__container {
  display: flex;
  align-items: center;
}

.logo__title {
  text-decoration: none;
  font-weight: 600;
  font-size: medium;
}

.container__index {
  width: 90%;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "nav nav"
    "main main";
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 3fr;
  /* background-color: blue; */
}

.container__music {
  width: 90%;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "nav nav"
    "sidebar main";
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 3fr;
  /* background-color: blue; */
}

li:hover,
.logo__title:hover {
  color: var(--orange);
  text-shadow: hsl(22, 100%, 72%) 2px 0.2rem 10px;
  transition: 0.3s;
}

.active {
  color: var(--orange);
}

.ul__circle {
  column-gap: 0rem;
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 0.3rem;
  box-shadow: 0px 0px 1px 1px #0000001a;
  color: var(--grey);
  background-color: var(--grey);
  border: var(--grey);
}

.pulse {
  animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px var(--green);
  }
  100% {
    box-shadow: 0 0 0 0.5rem rgba(0, 0, 0, 0);
  }
}

.ul__circle__title {
  column-gap: 0rem;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  box-shadow: 0px 0px 1px 1px #0000001a;
  color: var(--grey);
  background: var(--green);
  z-index: 2;
}

.presentation__container {
  display: flex;
  width: 80%;
  justify-content: center;
  text-align: center;
  gap: 1rem;
}
